<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
    <add key="PORT" value="8240"/>
    <add key="IPADDRESS" value="192.168.0.12"/>
    <add key="SENDTIME" value="3000"/>
</appSettings>
</configuration>