<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="DeviceName" value="D"/>
        <add key="StartPos" value="1800"/>
        <add key="Port" value="8240"/>
        <add key="ReceiveTimeout" value="100"/>
        <add key="KeepAliveInterval" value="2000"/>
        <add key="RetryInterval" value="300"/>
    </appSettings>
</configuration>