<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="PORT" value="8240"/>
        <add key="RECEIVETIMEOUT" value="2000"/>
        <add key="DEVICENAME" value="D"/>
        <add key="STARTPOS" value="1800"/>
        <add key="PLCINTERVAL" value="850"/>
    </appSettings>
</configuration>